#breadcrumbs {
    background-color: #e9ecef;
}

.alert.header-message {
    border-radius: 0 !important;
}

[x-cloak] { display: none; }

@layer components {
    .text-underline {
        @apply relative pb-8;

        &::before {
            @apply absolute h-1 w-14 bg-secondary left-1/2 -translate-x-1/2 -bottom-0;
            content: '';
        }

        &-left {
            @apply relative mb-8;
            &::before {
                @apply absolute h-1 w-14 bg-secondary left-0 -bottom-8;
                content: '';
            }

            &-blue {
                @apply relative mb-8;
                &::before {
                    @apply absolute h-1 w-14 bg-primary left-0 -bottom-8;
                    content: '';
                }
            }

        }
    }

    .triangle {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            z-index: -1;
            bottom: -1.8rem;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 40px 30px 0;
            border-color: transparent #bdbec0 transparent transparent;
            transform: rotate(0deg);
        }
    }

    .bg_filter {
        position: relative;

        &::before {
            @apply absolute inset-0 bg-[#283E87] bg-opacity-80 z-[1];
            content: '';
        }
    }

    // Page: Harga
    .pricelist {
        &-tabs {
            @apply px-6 py-1.5 leading-tight text-white uppercase rounded-lg bg-primary max-w-40 font-semibold shadow;

            &.active {
                @apply bg-secondary text-primary;
            }
        }
    }
}
