@layer components {
    header {
        @apply sticky z-50 py-4 bg-white shadow xl:pt-8 xl:pb-6;

        nav {
            @apply container flex items-end justify-between gap-4;

            .logo {
                img {
                    @apply max-md:w-1/2;
                }
            }

            .menu {
                @apply items-center hidden gap-10 xl:flex;

                .menu-list {
                    @apply flex items-center gap-8;

                    li {
                        .menu-item {
                            @apply text-sm text-black uppercase block;

                            &:hover {
                                @apply text-primary;
                            }

                            &.active {
                                @apply relative;

                                &:after {
                                    @apply absolute block w-full h-1 bg-secondary bottom-[-10px] left-0;
                                    content: '';
                                }
                            }
                        }

                    };
                }
            }
        }
    }

    .dropdown-tabs {
        @apply relative;

        &::before {
            @apply absolute inset-y-0 top-0 left-0 z-10 w-3 h-full bg-secondary;
            content: '';
        }
    }

    .tabs-container {
        @apply flex;

        .tabs-menu {
            @apply bg-gray-200 pl-[5%] 2xl:pl-[15%] dropdown-tabs py-8;
        }

        .tab-item {
            @apply flex flex-col gap-2 *:pr-20 *:pl-4 *:py-1;

            &:hover {
                li {
                    @apply hover:text-primary;
                }
            }
        }

        .active {
            @apply bg-white rounded-l-full;
        }
    }
}
