@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Alerts */
    .alert {
        @apply relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded;
    }

    .alert.alert-success {
        @apply text-green-700 bg-green-100 border-green-400;
    }

    .alert.alert-danger {
        @apply text-red-700 bg-red-100 border-red-400;
    }

    .alert.alert-warning {
        @apply text-orange-700 bg-orange-100 border-orange-400;
    }

    .alert.alert-info {
        @apply text-blue-700 bg-blue-100 border-blue-400;
    }

    .alert .close {
        @apply absolute;
        @apply top-0 right-0 px-4 py-3;
    }

    /* Dropdowns */
    .dropdown {
        @apply relative inline-flex items-center justify-center;
    }

    .dropdown .dropdown-menu {
        @apply absolute z-20 flex flex-col py-2 mt-1 list-none bg-white rounded shadow-md w-72 top-full shadow-slate-500/10;
    }

    .dropdown .dropdown-menu .dropdown-item {
        @apply flex items-start justify-start gap-2 p-2 px-5 transition-colors duration-300 hover:bg-emerald-50 focus:bg-emerald-50 text-slate-500 hover:text-emerald-500 focus:text-emerald-600 focus:outline-none focus-visible:outline-none;
    }

    .dropdown-tabs {
        @apply relative;
    }

    .dropdown-tabs::before {
        @apply absolute inset-y-0 top-0 left-0 z-10 w-3 h-full bg-secondary;
        content: '';
    }

    /* tabs */
    .tabs-container {
        @apply flex;
    }
    .tabs-container .tabs-menu {
        @apply bg-gray-200 pl-[5%] 2xl:pl-[15%] dropdown-tabs py-8;
    }

    .tabs-container .tabs-menu .tab-item {
        @apply flex flex-col gap-2 *:pr-20 *:pl-4 *:py-1;
    }

    .tabs-container .tabs-menu .tab-item .active {
        @apply bg-white rounded-l-full;
    }

    /* Button */
    .btn{
        @apply inline-flex items-center justify-center h-12 gap-2 px-6 text-sm font-medium tracking-wide text-white transition duration-300 rounded disabled:border-emerald-300 bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-700 disabled:bg-emerald-300 disabled:shadow-none whitespace-nowrap focus-visible:outline-none disabled:cursor-not-allowed;
    }

    .btn.btn-sm{
        @apply h-8 gap-2 px-4 text-xs;
    }

    .btn.btn-lg{
        @apply h-12 gap-2 px-6;
    }

    /* Button Link */
    .btn-link{
        @apply inline-flex items-center justify-center h-10 gap-2 px-2 text-sm font-medium tracking-wide transition duration-300 rounded justify-self-center hover:bg-emerald-50 disabled:hover:bg-transparent focus:bg-emerald-100 disabled:shadow-none text-emerald-500 hover:text-emerald-600 focus:text-emerald-700 disabled:text-emerald-300 whitespace-nowrap focus-visible:outline-none disabled:cursor-not-allowed;
    }

    /* Nav */
    .navigation-wrapper {
        @apply relative z-20 w-full border-b shadow-lg border-slate-200 bg-white/90 shadow-slate-700/5 after:absolute after:top-full after:left-0 after:z-10 after:block after:h-px after:w-full after:bg-slate-200 lg:border-slate-200 lg:backdrop-blur-sm lg:after:hidden;
    }

    .navigation-wrapper .navigation-container {
        @apply relative mx-auto px-6 max-w-full lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[96rem];
    }

    .navigation-wrapper .navigation{
        @apply flex justify-between items-stretch h-[5.5rem] text-slate-700;
    }

    .menu-items {
        @apply invisible absolute left-0 top-0 z-[-1] ml-auto h-screen w-full justify-center overflow-hidden overflow-y-auto overscroll-contain bg-white/90 px-8 pb-12 pt-28 opacity-0 transition-[opacity,visibility] duration-300 lg:visible lg:relative lg:top-0 lg:z-0 lg:flex lg:h-full lg:w-auto lg:items-center lg:overflow-visible lg:bg-white/0 lg:px-0 lg:py-0 lg:pt-0 lg:opacity-100;
    }

    nav > ul .btn-link {
        @apply flex items-center h-auto gap-2 py-3 transition-colors duration-300 bg-transparent hover:bg-transparent focus:bg-transparent lg:px-4 text-inherit hover:text-emerald-500 focus:text-emerald-600 focus:outline-none focus-visible:outline-none;
    }

    /* Cards */
    .card {
        @apply overflow-hidden bg-white rounded shadow-md shadow-slate-200 text-slate-500;
    }

    .card .card-header {
        @apply px-6 pt-6 text-xl font-medium text-slate-700;
    }

    .card .card-body {
        @apply p-6;
    }

    /* Forms */
    input.form-element {
        @apply relative w-full h-10 px-4 text-sm placeholder-transparent transition-all border-b outline-none border-slate-200 autofill:bg-white disabled:bg-slate-50 text-slate-500 disabled:text-slate-400 disabled:cursor-not-allowed focus-visible:outline-none focus:outline-none;
    }

    input.form-element:focus {
        @apply border-emerald-500;
    }

    input.form-element:invalid {
        @apply text-pink-500 border-pink-500;
    }

    input.form-element:invalid:focus {
        @apply border-pink-500;
    }

    input.form-element:disabled {
        @apply cursor-not-allowed bg-slate-50;
    }

    input.form-element:--webkit-autofill {
        @apply bg-white;
    }

    label.form-label {
        @apply before:block -top-2 before:top-0 left-2 before:left-0 z-[1] before:z-[-1] absolute before:absolute before:bg-white px-2 before:w-full before:h-full text-slate-400 text-xs transition-all
        before:transition-all cursor-text;
    }

    input.form-element:placeholder-shown + label.form-label {
        @apply top-2.5 text-sm;
    }

    input.form-element:focus + label.form-label {
        @apply text-xs cursor-default -top-2 text-emerald-500;
    }

    input.form-element:--webkit-autofill + label.form-label {
        @apply bg-white -top-2;
    }


    input.form-element:required::after + label.form-label {
        @apply content-['\00a0*'] text-pink-500;
    }

    input.form-element:invalid + label.form-label {
        @apply text-pink-500;
    }

    input.form-element:invalid:focus + label.form-label {
        @apply text-pink-500;
    }

    input.form-element:disabled + label.form-label {
        @apply cursor-not-allowed text-slate-400;
    }

    input.form-element:disabled + label.form-label::before {
        @apply bg-transparent;
    }

}

@layer utilities {
    [x-cloak] {
        display: none !important;
    }
}
